@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "bootstrap-icons/font/bootstrap-icons.css";
@plugin "daisyui" { themes: all; }

 html.dark {
  background-color: oklch(13% 0.028 261.692);
  /* background-attachment: fixed; */
  /* background-repeat: repeat; */
}

html:not(.dark) {
  background-color: oklch(98.5% 0.002 247.839);
  /* background-attachment: fixed; */
  /* background-repeat: repeat; */
}

html {
  transition: background-color .7s ease-in-out, color .7s ease-in-out;
}